## ** Overview of built-in sequences**

$Container\ sequences$  
 **list,tuple and collections.deque** can hold items of different types  
 
$Flat\ sequences$  
** str,bytes,bytearray,memoryview** and **array.array** hold items of one type  

$Mutable sequences$  
** list,bytearray,array.array,collections.deque** and **memoryview**  

$Immutable sequences$  
** tuple,str** and **bytes**

## **List comprehensions and generator expressions**

** listcomps**

In [1]:
# normal way of building a list of Unicode codepoints from a string

symbols = '$&%#@*'
codes=[]
for s in symbols:
    codes.append(ord(s))
codes

[36, 38, 37, 35, 64, 42]

In [2]:
# use listcomps

symbols = '$&%#@*'
codes=[ord(s) for s in symbols]
codes

[36, 38, 37, 35, 64, 42]

** Listcomps VS. map and filter**

In [4]:
symbols = '$¢£¥€¤'
beyonds_ascii = [ord(s) for s in symbols if ord(s)>127]
beyonds_ascii

[162, 163, 165, 8364, 164]

In [5]:
beyonds_ascii2 = list(filter(lambda c : c>127,map(ord,symbols)))
beyonds_ascii2

[162, 163, 165, 8364, 164]

** Cartesian products**

In [8]:
Rank = list("AKQ")
Suit = ['spades','hearts','diamonds','clubs']
# generate a list of tuples arranged by Rank, then Suit
d = [(r,s) for r in Rank for s in Suit]
d

[('A', 'spades'),
 ('A', 'hearts'),
 ('A', 'diamonds'),
 ('A', 'clubs'),
 ('K', 'spades'),
 ('K', 'hearts'),
 ('K', 'diamonds'),
 ('K', 'clubs'),
 ('Q', 'spades'),
 ('Q', 'hearts'),
 ('Q', 'diamonds'),
 ('Q', 'clubs')]

In [9]:
# generate a list of tuples arranged by suit, then rank
d1 = [(r,s) for s in Suit for r in Rank]
d1

[('A', 'spades'),
 ('K', 'spades'),
 ('Q', 'spades'),
 ('A', 'hearts'),
 ('K', 'hearts'),
 ('Q', 'hearts'),
 ('A', 'diamonds'),
 ('K', 'diamonds'),
 ('Q', 'diamonds'),
 ('A', 'clubs'),
 ('K', 'clubs'),
 ('Q', 'clubs')]

** genexps**

In [10]:
symbols = '$¢£¥€¤'
tuple(ord(s) for s in symbols)

(36, 162, 163, 165, 8364, 164)

In [11]:
import array
array.array('I',(ord(s) for s in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [12]:
Ranks = ['A','K','Q']
Suits = ['spades','hearts','diamonds','clubs']

for d in ('%s %s'%(r,s) for r in Ranks for s in Suits):
    print(d)

A spades
A hearts
A diamonds
A clubs
K spades
K hearts
K diamonds
K clubs
Q spades
Q hearts
Q diamonds
Q clubs

## **Tuples **

** Tuples as records**

In [4]:
lax_coordinates = (33.9425,-118.408056)
city,year,pop,chg,area = ('Tokyo',2003,32540,0.66,8041)
traveler_ids = [('USA','31195855'),('BRA','CE342567'),('ESP','XDA205856')]
for passport in sorted(traveler_ids):
    print("%s/%s"%passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [5]:
for country,_ in traveler_ids:
    print(country)

USA
BRA
ESP

** Tuple unpacking**

In [6]:
lax_coordinates = (33.9425,-118.408056)
latitude,longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [7]:
divmod(20,8)

(2, 4)

In [8]:
t = (20,8)
divmod(*t)

(2, 4)

In [10]:
quotient,remainder = divmod(*t)
quotient,remainder

(2, 4)

In [12]:
import os
# sometimes when we only care about certain parts of a tuple when unpacking,
# a dummy variable like _ is used as placeholder.
_,filename = os.path.split('/home/darkrose/datasets/test_catvnoncat.h5')
filename

'test_catvnoncat.h5'

** Using * to grab excess items**

In [13]:
a,b,*rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [14]:
a,b,*rest = range(3)
a,b,rest

(0, 1, [2])

In [15]:
a,b,*rest = range(2)
a,b,rest

(0, 1, [])

In [16]:
a,*body,c,d = range(5)
a,body,c,d

(0, [1, 2], 3, 4)

In [17]:
*head,b,c,d = range(5)
head,b,c,d

([0, 1], 2, 3, 4)

** Nested tuple unpacking**

In [18]:
metro_areas = [
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
metro_areas

[('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))]

In [22]:
print('{:15} | {:^9} | {:^9}'.format('','lat.','long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, *_, (latitude,longitude) in metro_areas:
    if longitude < 0:
        print(fmt.format(name,latitude,longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

** Named tuples**

In [1]:
from collections import namedtuple

In [2]:
# Two params are required to create a named tuple: a class name and a list of 
# field names, which can be given as an iterable of strings or as a single
# space-delimited string

City = namedtuple('City','name country population coordinates')

In [3]:
tokyo = City('Tokyo','JP','36.933',(35.689722,139.691667))
tokyo

City(name='Tokyo', country='JP', population='36.933', coordinates=(35.689722, 139.691667))

In [4]:
tokyo.country

'JP'

In [5]:
tokyo.population

'36.933'

In [6]:
tokyo.coordinates

(35.689722, 139.691667)

In [7]:
tokyo[1]

'JP'

In [8]:
City._fields

('name', 'country', 'population', 'coordinates')

In [11]:
LatLong = namedtuple('LatLong','lat long')
delhi_data = ("Delhi NCR",'IN',21.935,LatLong(28.613889,77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [13]:
for k,v in delhi._asdict().items():
    print(k + ':',v)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

** Tuples as immutable lists**

$ Methods\ and\ attributes\ found\ in$ **list** $or$ **tuple**

<img style="float: right;"  src="1.png"  width="100%">
<img style="float: right;"  src="2.png"  width="100%">

## **Slicing**

In [1]:
l = [10,20,30,40,50,60]

In [2]:
l[:2]

[10, 20]

In [4]:
l[2:]

[30, 40, 50, 60]

In [5]:
l[:3],l[3:]

([10, 20, 30], [40, 50, 60])

In [6]:
s='bicycle'

In [7]:
s[::3] #(0,3,6)

'bye'

In [8]:
s[::-1] # reversed

'elcycib'

In [10]:
s[::-2] #(6,4,2,0)

'eccb'

In [55]:
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                 $4.95     2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""

SKU = slice(0,6)
DESCRIPTION = slice(6,40)
UNIQUE_PRICE = slice(40,52)
QUANTITY = slice(52,55)
ITEM_TOTAL = slice(55,None)

line_items = invoice.split("\n")[2:]

print("{:^35}".format("_"*40))
print("{:>10}   |   {:>12} ".format("Price","Description"))
print("{:^35}".format("_"*40))
fmt ="{:8} | {:15}"

for item in line_items[:len(line_items)-1]:
    print(fmt.format(item[UNIQUE_PRICE],item[DESCRIPTION]))
print("{:^35}".format("_"*40))

________________________________________
     Price   |    Description
________________________________________
    $17.50   | imoroni PiBrella
    $4.95    | mm Tactile Switch x20
    $28.00   | anavise Jr. - PV-201
    $34.95   | iTFT Mini Kit 320x240
________________________________________

** Assigning to slices**

In [64]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
l[2:5] = [20,30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [66]:
del l[5:7]

In [67]:
l

[0, 1, 20, 30, 5, 8, 9]

In [68]:
l[3::2] = [11,22]
l

[0, 1, 20, 11, 5, 22, 9]

In [69]:
# when the target of the assignment is a slice, the right hand side must be
# an iterable object, even if it has just one item
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

## ** Using + and * with sequences**

In [70]:
l = [1,2,3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [71]:
5 * 'abc'

'abcabcabcabcabc'

In [72]:
# Create a list of with 3 lists of 3 items each
board = [['_']*3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [75]:
# Place a mark in row 1, column 2 and check the result
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [76]:
# The outer list is made of three reference to the same inner  list
weird_board =[['_']*3]*3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [79]:
# Placing a mark in row 1, column 2 reveals that all rows are aliases referring to
# the same object
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [82]:
row = ['_']*3
board = []
for i in range(3):
    board.append(row) # the same row appended 3 times to board
board[1][2]=5
board

[['_', '_', 5], ['_', '_', 5], ['_', '_', 5]]

In [83]:
board = []
for i in range(3):
    row =['_']*3
    board.append(row) # each iteration builds a new row and appends it to board
board[1][2]=5
board

[['_', '_', '_'], ['_', '_', 5], ['_', '_', '_']]

** A += assignment puzzler**

In [84]:
t = (1,2,[30,40])
t[2] += [50,60]

TypeError: 'tuple' object does not support item assignment

In [85]:
t

(1, 2, [30, 40, 50, 60])

In [88]:
import dis
dis.dis('t[2] += [50,60]')

  1           0 LOAD_NAME                0 (t)
              2 LOAD_CONST               0 (2)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_CONST               1 (50)
             10 LOAD_CONST               2 (60)
             12 BUILD_LIST               2
             14 INPLACE_ADD
             16 ROT_THREE
             18 STORE_SUBSCR
             20 LOAD_CONST               3 (None)
             22 RETURN_VALUE

## ** list.sort and the sorted built-in function**
* 1. The **list.sort** method sorts a list in-place, that is, without making a copy
* 2. In contrast, the built-in function **sorted** creates a new list and returns it

In [89]:
fruits = ['grape','raspberry','apple','banana']

In [90]:
sorted(fruits) # This produces a new list of strings sorted alphabetically.

['apple', 'banana', 'grape', 'raspberry']

In [91]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [92]:
sorted(fruits,reverse=True) #This is simply reverse alphabetical ordering.

['raspberry', 'grape', 'banana', 'apple']

In [93]:
sorted(fruits,key = len) # A new list of strings, now sorted by length.

['grape', 'apple', 'banana', 'raspberry']

In [94]:
sorted(fruits,key = len,reverse=True) # These are the strings sorted in descending order of length.

['raspberry', 'banana', 'grape', 'apple']

In [95]:
fruits.sort() # This sorts the list in-place, and returns None (which the console omits).

In [96]:
fruits

['apple', 'banana', 'grape', 'raspberry']

## **Managing ordered sequences with $bisect $ **  
  
The **bisect** module offers two main functions —— **bisect** and **insort**——
that use binary search algorithm to quickly find and insect items in any sorted sequence

### **Searching with $bisect$ **

In [99]:
import bisect
HAYSTACK = [1,4,5,6,8,12,15,20,21,23,23,26,29,30]
bisect.bisect(HAYSTACK,8) # returns an insertion point after the existing item

5

In [100]:
bisect.bisect_left(HAYSTACK,6) # returns the position of the existing item

3

In [101]:
bisect.bisect_right(HAYSTACK,6)

4

In [118]:
HAYSTACK = [1,4,5,6,8,12,15,20,21,23,23,26,29,30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

def demo(bisect_fn):
    print("DEMO:",bisect_fn.__name__)
    print("haystack ->",' '.join('%2d' % n for n in HAYSTACK))
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK,needle)
        offset = position*'  |'
        print(ROW_FMT.format(needle,position,offset))

In [119]:
demo(bisect.bisect)

DEMO: bisect
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

In [108]:
demo(bisect.bisect_left)

DEMO: bisect_left
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 12      |  |  |  |  |  |  |  |  |  |  |  |29
23 @  9      |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  4      |  |  |  |8
 5 @  2      |  |5
 2 @  1      |2
 1 @  0    1
 0 @  0    0

In [109]:
demo(bisect.bisect_right)

DEMO: bisect_right
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

In [120]:
def grade(score,breakpoints = [60,70,80,90],grades='FDCBA'):
    i = bisect.bisect(breakpoints,score)
    return grades[i]

In [121]:
[grade(score) for score in [33,99,77,70,89,90,100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

### **Inserting with ** $bisect.insort$  
**insort(seq,item) insert $item$ into $seq$ so as to keep $seq$ in ascending order**

In [122]:
import bisect
import random
SIZE = 7
random.seed(121)
my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list,new_item)
    print("%2d ->"%new_item,my_list)

 1 -> [1]
 3 -> [1, 3]
 9 -> [1, 3, 9]
13 -> [1, 3, 9, 13]
 6 -> [1, 3, 6, 9, 13]
10 -> [1, 3, 6, 9, 10, 13]
 2 -> [1, 2, 3, 6, 9, 10, 13]

## **Arrays**

In [123]:
from array import array
from random import random
#create an array of double-precision floats (typecode 'd' ) from any iterable
#object, in this case a generator expression;
floats = array('d',(random() for i in range(10**7)))

In [124]:
# inspect the last number in the array
floats[-1]

0.5708342669334845

In [127]:
# save the array to a binary file
fp = open("floats.bin",'wb')
floats.tofile(fp)
fp.close

In [128]:
# create an empty array of doubles;
# read 10 million numbers from the binary file;
floats2 = array('d')
fp = open("floats.bin",'rb')
floats2.fromfile(fp,10**7)
fp.close()

In [129]:
# inspect the last number in the array
floats[-1]

0.5708342669334845

<img style="float: right;"  src="3.png"  width="100%">
<img style="float: right;"  src="4.png"  width="100%">

## **Memory views**

In [131]:
# Build memoryview from array of 5 short signed integers (typecode 'h' )
numbers = array('h',[-2,-1,0,1,2])
memv = memoryview(numbers)

In [132]:
len(memv)

5

In [133]:
memv[0]

-2

In [134]:
memv[3]

1

In [135]:
# Create memv_oct by casting the elements of memv to 
# typecode 'B' (unsigned char).
memv_oct = memv.cast('B')

In [136]:
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [137]:
memv_oct[5] = 4

In [138]:
numbers

array('h', [-2, -1, 1024, 1, 2])

## **Deques and other queues**

In [148]:
from collections import deque
dq = deque(range(10),maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [149]:
# rotating with n > 0 takes items from the right end and prepends them to the
# left; when n < 0 items are taken from left and appended to the right

dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [150]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [151]:
# appending to a deque that is full ( len(d) == d.maxlen ) discards items from the
# other end; note in the next line that the 0 is dropped;
dq.appendleft(-1)
dq

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [152]:
# adding three items to the right pushes out the leftmost -1 , 1 and 2 ;
dq.extend([11,22,33])
dq

deque([3, 4, 5, 6, 7, 8, 9, 11, 22, 33])

In [153]:
# note that extendleft(iter) works by appending each successive item of the
# iter argument to the left of the deque, therefore the final position of the items
# is reversed.
dq.extendleft([10,20,30,40])
dq

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8])